numpy==2.4.1
pandas>=2.3.3
regex>=2.5.86
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
scikit-learn>=1.8.0
joblib>=1.5.3
streamlit>=1.36.0

thinc>=8.1.8
spacy>=3.7.2



